services:
  app:
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: sync
          path: ./
          target: /app
          ignore:
            - node_modules/
    entrypoint: ["/bin/sh", "/app/scripts/server-entrypoint.sh"]
    volumes:
      - ./server:/app/server:ro
      - ./src:/app/src:ro
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - app-notused:/opt/app/node_modules
    build:
      dockerfile: Dockerfile
    environment:
      NODE_ENV: ${NODE_ENV}
      FETCH: ${FETCH}
    working_dir: /app

  frontend:
    ports:
      - "3001:3001"
    entrypoint: ["/bin/sh", "/app/scripts/frontend-entrypoint.sh"]
    build:
      dockerfile: Dockerfile
    working_dir: /app
    develop:
      watch:
        - action: sync
          path: ./
          target: /app
          ignore:
            - node_modules/

  db:
    image: mysql:9.2
    environment:
      MYSQL_ROOT_PASSWORD: pcwBWjcNrGe8ybGggtGnmz2K
      MYSQL_USER: uzini
      MYSQL_PASSWORD: pcwBWjcNrGe8ybGggtGnmz2K
      MYSQL_DATABASE: mydatabase
      MYSQL_ROOT_HOST: '%'
    ports:
      - "3306"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
  bin:
  app-notused:
