services:
  app:
    ports:
      - "3000:3000"
    entrypoint: ["/bin/sh", "/app/scripts/server-entrypoint.sh"]
    volumes:
      - ./server:/app/server:ro
      - ./src:/app/src:ro
    build:
      dockerfile: Dockerfile
    depends_on:
      - db
    environment:
      NODE_ENV: ${NODE_ENV:-production}
      FETCH: ${FETCH:-true}
      DATABASE_URL: ${DATABASE_URL}
    working_dir: /app
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.movies.rule=Host(`movies.rpi.lan`)"
      - "traefik.http.routers.movies.entrypoints=https"
      - "traefik.http.routers.movies.tls=true"
      - "traefik.http.services.movies.loadbalancer.server.port=3000"
      - "traefik.http.services.movies.loadbalancer.server.scheme=http"
      - "coolify.managed=true"

  db:
    image: mysql:9.2
    environment:
      MYSQL_ROOT_PASSWORD: pcwBWjcNrGe8ybGggtGnmz2K
      MYSQL_USER: uzini
      MYSQL_PASSWORD: pcwBWjcNrGe8ybGggtGnmz2K
      MYSQL_DATABASE: mydatabase
      MYSQL_ROOT_HOST: '%'
    ports:
      - "3336:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
