services:
  app:
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: sync
          path: ./
          target: /app
          ignore:
            - node_modules/
    entrypoint: ["/bin/sh", "/app/scripts/server-entrypoint.sh"]
    build:
      dockerfile: dev.Dockerfile
    depends_on:
      - db
    environment:
      NODE_ENV: ${NODE_ENV:-development}
      FETCH: ${FETCH:-true}
      TEST: ${TEST:-true}
      DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-password}@db:5432/${POSTGRES_DB:-movies}?schema=public
    working_dir: /app

  frontend:
    ports:
      - "3001:3001"
    command: ["bun", "vite:dev", "--host"]
    build:
      dockerfile: dev.Dockerfile
    depends_on:
      - app
    working_dir: /app
    develop:
      watch:
        - action: sync
          path: ./
          target: /app
          ignore:
            - node_modules/

  db:
    image: postgres:18
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-movies}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql

volumes:
  db_data:
